<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="content has-text-left-desktop has-text-left-tablet">
                <div class="box">
                    {% capture about_content %}{% include_relative _content/lechantier.md %}{% endcapture %}
                    {{ about_content | markdownify }}
                </div>
                <br>
                <div class="has-text-centered">
                    <a href="{{site.url}}{{site.baseurl}}/#associations"
                        class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined is-medium">
                        Découvrir nos actions
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>