<section class="hero is-medium has-text-centered" id="contact">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-size-1 has-text-black">Contactez-nous</h1>
            <hr>
            <div class="columns is-centered">
                <div class="column is-two-fifths" style="margin-top: 0;">
                    <h3 class="title is-size-4 has-text-black" style="margin-top: 0;">Nous écrire</h3>
                    {% unless site.email == %}
                    <a href="mailto:{{site.email}}"
                        class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold is-fullwidth"
                        target="_blank">
                        <i class="fas fa-envelope"></i>Envoyer un email
                    </a>
                    {% endunless %}
                </div>
                <div class="column is-two-fifths" style="margin-top: 0;">
                    <h3 class="title is-size-4 has-text-black" style="margin-top: 0;">Adhérer</h3>
                    <p class="mb-3">Soutenez nos actions !</p>
                    <iframe id="haWidget" allowtransparency="true" src="https://www.helloasso.com/associations/le-chantier-de-bedee/adhesions/adhesion-2026/widget-vignette" style="width:350px;border:none;max-width:100%;" onload="window.addEventListener( 'message', function(e) { const dataHeight = e.data.height; const haWidgetElement = document.getElementById('haWidget'); haWidgetElement.height = dataHeight + 'px'; } )"></iframe>
                </div>
            </div>
        </div>
    </div>git push
</section>
